@model CDIPAlumniAssociation.Models.Admin

@{
    ViewBag.Title = "ChangePassword";
    var message = ViewBag.Message;

}

<header id="head" class="secondary">
    <div class="container">
        @if (message == null)
        {
            <h1>Change Your Password</h1>
        }
        else
        {
            if (message == "Password Change Successfull..")
            {
                <h1 style="color: greenyellow">@message</h1>
            }
            else
            {
                <h1 style="color: red">@message</h1>
            }

        }

    </div>
</header>

<div class="container">
    <div class="row">

        @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @class = "form-light mt-20", @role = "form" }))
        {
            <div class="col-md-12">
                <h3 class="section-title">Enter Basic Information</h3>

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)



                <div class="col-md-6">
                    <div class="form-group">
                        <label>Enter Old Password</label>
                        @Html.PasswordFor(model => model.OldPassword, new {@class = "form-control", placeholder = "Your Password"})
                        @Html.ValidationMessageFor(model => model.OldPassword)

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Enter New Password</label>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Your Password" })
                        @Html.ValidationMessageFor(model => model.Password)

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Confirm Password</label>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-two">Change Password</button>
                        </div>
                    </div>
                </div>


            </div>



        }

    </div>
</div>



@section Scripts {

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>





}