@model CDIPAlumniAssociation.Models.JobInfo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>JobInfo</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.JobTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobTitle)
                @Html.ValidationMessageFor(model => model.JobTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobNature, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobNature)
                @Html.ValidationMessageFor(model => model.JobNature)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EducationalRequirement, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EducationalRequirement)
                @Html.ValidationMessageFor(model => model.EducationalRequirement)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExperienceRequirement, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExperienceRequirement)
                @Html.ValidationMessageFor(model => model.ExperienceRequirement)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdditionalRequirement, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdditionalRequirement)
                @Html.ValidationMessageFor(model => model.AdditionalRequirement)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfVacancies, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfVacancies)
                @Html.ValidationMessageFor(model => model.NumberOfVacancies)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalaryRange, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalaryRange)
                @Html.ValidationMessageFor(model => model.SalaryRange)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherBenefit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherBenefit)
                @Html.ValidationMessageFor(model => model.OtherBenefit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublishTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PublishTime)
                @Html.ValidationMessageFor(model => model.PublishTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationDeadline, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplicationDeadline)
                @Html.ValidationMessageFor(model => model.ApplicationDeadline)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Approval, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Approval)
                @Html.ValidationMessageFor(model => model.Approval)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
