@model CDIPAlumniAssociation.Models.JobInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobInfo</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobNature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobNature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EducationalRequirement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationalRequirement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExperienceRequirement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExperienceRequirement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalRequirement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalRequirement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfVacancies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfVacancies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherBenefit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherBenefit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDeadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDeadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approval)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
