@using System.Globalization

@{
    ViewBag.Title = "PersonalJobApplication";
    var jobs = ViewBag.Jobs;
    var jobCount = ViewBag.JobCount;
}

<header id="head" class="secondary">
    @if (jobCount > 0)
    {
        <div class="container">
            <h1>View Your Applied Job</h1>
            <p>View all Your applied jobs with all the essential detail information </p>
        </div>
    }
    else
    {
        <div class="container">
            <h1>No Jobs Applied Yet</h1>

        </div>
    }


</header>

<div class="container" style="padding-top: 20px;">

    @if (jobCount > 0)
    {
        <div class="row">
            <table id="myTable" class="table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Company Name</th>
                        <th>Applied Time</th>
                        <th>Your Expected Salary</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Position</th>
                        <th>Company Name</th>
                        <th>Applied Time</th>
                        <th>Your Expected Salary</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in jobs)
                    {
                        <tr>
                            <th>@item.JobInfo.JobTitle</th>
                            <td>@item.JobInfo.CompanyName</td>
                            <td>@item.AppliedTime.ToString("dd/M/yyyy", CultureInfo.InvariantCulture)</td>
                            <td>@item.ExpectedSalary</td>
                            <td>@Html.ActionLink("Job Details", "JobDetails", new { id = item.JobInfoId }, new { @class = "btn btn-info" })</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }

</div>



@section Scripts {
    <script src="~/Content/Theme_Assets/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Theme_Assets/DataTables/dataTables.bootstrap.min.js"></script>


    <script type="text/javascript">
        $(document)
            .ready(function () {
                $('#myTable').DataTable({ responsive: true });

            });

    </script>



}

